
//variable in sass start with a dollar sign and can be used at anytime
$maincolor: rgb(87, 147, 232);  


// mixins are a collections of rules (varaible) that can be applied 
@mixin h1 {
    
    display:flex;
    color: rgb(240, 241, 245);
    font-size: large;
    margin: auto;
    border: navy
    
    
}


//to use mixins, use the @include keyword followed by the name of the mixin
h1{
    @include h1();
   
}
h1:hover{
    color: black;

}
h3{
   color: whitesmoke;
}
button:hover {
    background-color: rgb(215, 225, 242);

}
.App{
    margin:0;
    background-color:rgb(92, 157, 247);
    padding-bottom: 650px;
  }
  .nav{
    background-color: rgb(124, 169, 237);
    text-align: left;
    border: solid rgb(5, 38, 136);
    color: whitesmoke;

  }
.apparel{}
  