
//variable in sass start with a dollar sign and can be used at anytime
$maincolor: rgb(158, 138, 248);  


// mixins are a collections of rules (varaible) that can be applied 
@mixin hot-pink-black-letters {
    background-color: $maincolor;
    color: black;
    border: 1px solid black
}


//to use mixins, use the @include keyword followed by the name of the mixin
h1{
    @include hot-pink-black-letters();
}
h3{
    @include hot-pink-black-letters;
}
button:hover {
    background-color: rgb(87, 147, 236);

}
.App{
    margin:0;
    background-color:rgb(198, 198, 237);
  }
  .nav{
    background-color: rgb(179, 159, 234);
    text-align: left;
  }

  